//- Para exportar bootstrap de la carpeta layout
extends ../layout/index
//-block será donde se guarde lo que se quiera mostrar en el index de Layout
block contenido
    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        include ../layout/partials/viaje